.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 144px;
}

.main h1 {
  color: var(--gray1);
  font-weight: 800;
  margin-top: 12px;
}

.main p {
  color: var(--gray1);
  margin-top: 2px;
}

.main button {
  margin-top: 12px;
}

.main svg {
  border-radius: 20px;
}
